<!-- <body>
  <div class="container">
    <h2>Reset Password</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <label for="password">New Password:</label>
      <input id="password" formControlName="password" type="password" required>
      
      <label for="confirmPassword">Confirm Password:</label>
      <input id="confirmPassword" formControlName="confirmPassword" type="password" required>
      
      <button type="submit" [disabled]="resetPasswordForm.invalid">Submit</button>
    </form>

    <p [ngClass]="{
      'success-message': message?.includes('successful'),
      'error-message': message?.includes('error')
    }">{{ message }}</p>
  </div>
</body> -->


<body>
  <div class="wrapper" *ngIf="!isOtpSent && !isPasswordReset">
    <h2>Forgot Password</h2>
    <form id="forgotPassword" [formGroup]="emailForm" (ngSubmit)="onEmailSubmit()">
      <div class="text">
        <h3>Please enter the email you use to Sign in</h3>
      </div>
      <div class="input-box">
        <input formControlName="email" placeholder="Enter your email" type="email"  required>
        <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
 
      </div>
      <div class="buttons">
        <div class=" button">
          <input type="submit" value="Send Request">
        </div>
        <div class="back-button text-center">
          <a routerLink="/login"><input type="submit" value="Back"></a>
        </div>
      </div>
    </form>
  </div>
 
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <div *ngIf="isOtpSent && !isPasswordReset">
        <h3 class="text-center">Enter OTP</h3>
        <form [formGroup]="otpForm" (ngSubmit)="onOtpSubmit()">
          <input formControlName="otp" placeholder="Enter OTP" type="text" />
          <div class="buttons">
            <button type="submit">Verify OTP</button>
            <p>OTP expires in: {{ displayTime }}</p>
          </div>
        </form>
      </div>
 
      <div *ngIf="isPasswordReset">
        <h3>Reset Password</h3>
        <form [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()">
          <input formControlName="newPassword" placeholder="New Password" type="password" />
          <span *ngIf="passwordForm.get('newPassword')?.errors?.['passwordLength']">Password must be between 8 and 16 characters.</span>
          <span *ngIf="passwordForm.get('newPassword')?.errors?.['passwordComplexity']">Password must contain at least one numeric character and one symbol.</span>
          <input formControlName="confirmPassword" placeholder="Confirm Password" type="password" />
          <div class="resetpassword">
            <button type="submit">Reset Password</button>
          </div>
        </form>
      </div>
      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    </div>
  </div>
</body>