<!-- <app-nav></app-nav>


<body>
<div>
    <h2>Forgot Password</h2>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" />
        <div *ngIf="resetForm.get('email')?.invalid && resetForm.get('email')?.touched">
          <small *ngIf="resetForm.get('email')?.errors?.['required']">Email is required.</small>
          <small *ngIf="resetForm.get('email')?.errors?.['email']">Invalid email format.</small>
        </div>
      </div>
      <button type="submit" [disabled]="resetForm.invalid" >Send Reset Link</button>
    </form>
  
    <div *ngIf="message">
      <p >{{ message }}</p>
    </div>
  </div> <br><br><br> -->
   <!-- Go back link -->
   <!-- <div>
    <a routerLink="/login">Go back to Login</a>
  </div>

</body>
   -->