<div>
     <!-- Technologies Card Layout -->
     <div *ngIf="showTechnologies" class="row mt-4">
        <div class="col-md-4" *ngFor="let tech of technologies">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ tech.tech_name }}</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Version: {{ tech.version }}</h6> -->
              <p class="card-text">{{ tech.tech_desc }}</p>
              <button class="btn btn-secondary" (click)="deleteTechnology(tech.tech_id)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- <div>
      Technologies Card Layout -->
      <!-- <div *ngIf="showTechnologies" class="row mt-4">
        <div class="col-md-12" *ngFor="let tech of technologies">
          <div class="card mb-3 position-relative">
            <div class="card-body">
              <h5 class="card-title">{{ tech.tech_name }}</h5>
              <p class="card-text">{{ tech.tech_desc }}</p>
              <i class="fas fa-edit position-absolute" style="top: 10px; right: 40px; cursor: pointer;" (click)="editTechnology(tech)"></i>
              <i class="fas fa-trash-alt position-absolute" style="top: 10px; right: 10px; cursor: pointer;" (click)="deleteTechnology(tech.tech_id)"></i>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    